@tailwind base;
@tailwind components;
@tailwind utilities;

.top{
  background-color: #f0f2f5;
}
*{
  box-sizing: border-box;
}

.black{
  background-color: #1a1a1a;
}

.container {
  max-width: 1260px;
  padding-right: 15px;
  padding-left: 15px;
}

.gray{
  background-color: #fbfbfd;
  padding: 20px;
  border-radius: 10px;
}
